.nav{
  height: 10vh;
  background-color: #755487;
  width:100%;
  border-radius: 5px;
}

.menu{
  width:20vw;
  height:90vh;
  overflow: hidden;
  margin:0;
  background-color:#ECE4E4;

}

.main{
  padding: 0;
}

.sub{
  padding-left:15px;
  margin:0;
}

h4{
  margin-left: 15px;
  padding:0;
  font-family: 'EB Garamond', serif;
}

li,label{
  width:100%;
  border-left:1px white solid;
  border-bottom:.5px white solid;
  border-top:.5px white solid;
}

li{
  line-height: 40px;
  list-style: none;
  padding:1px 1em; 
 }

 a{
  text-decoration: none;
  color: #424241;
  font-size:1em;
  font-family: 'EB Garamond', serif;
 }

.subList ul, input[type="checkbox"]{
  display:none;
}

.subList input:checked ~ ul{
  display:block;
}

label{
  display: block;
  z-index:1;
  position:relative;
  color:#424241;
  padding:10px;
  font-family:'EB Garamond', serif;
}
li:hover,label:hover{
  background-color:#D8D3D3;
}

.arrow{
  vertical-align: middle;
  float:left;
  z-index:1;
  margin:5px .6em .2em .7em;
}

